doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript' src='http://fb.me/react-0.12.2.js')
    script(type='text/javascript' src='http://fb.me/JSXTransformer-0.12.2.js')
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.0.min.js')

  body
    block content
